# DOCKER
DB_CONTAINER_NAME=
API_CONTAINER_NAME=
WORKER_CONTAINER_NAME=

# DATABASE
DB_HOST=
DB_PORT=
DB_EXTERNAL_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# AUTH
SECRET_KEY=

# AWS
AWS_REGION=
S3_BUCKET_NAME=
SNS_TOPIC_ARN=
SQS_QUEUE_URL=
DYNAMODB_AUDIT_TABLE=

# AWS (LOCAL ONLY)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
